

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
  
    
 
    /*header part-1 start*/
nav{
  border-bottom: 2px solid #a579df48;
}
.navbar-brand h1{
        margin: 0px 1.3rem;
        font-size: 3rem;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Teko', sans-serif;
        font-family: 'Zeyada', cursive;
        color:palevioletred;
        text-shadow: 2px 2px 6px rgb(12, 12, 12);}
    .class1{
      color: burlywood;
    } 
.navbar-nav li{
  text-align: center;
  margin-left: 1.4rem;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}
.nav-item:hover{
  background-color: #ffffffa9;
  padding: 2px;
  color:cadetblue;
  border-radius: 10px;
  outline: none;
}
.nav-link:active{
   color: #FC00FF;

}


/*header part-1 end*/
/*Scetion-1 start */

.section1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color:#fdfdfd ;
  width: 100%; 
  padding: 2rem;
}
.half1,.half2{
  width: 50%;
}
.half1{

}

.half2 img{
   height: 18.3rem;
   width: auto;
}
.half1 h3{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
      color: rgb(197, 197, 197);
}
.half1 h1{
    font-family: 'Orbitron', sans-serif;
    color: rgb(17, 17, 18);
    text-shadow: 2px 2px 0px rgba(114, 113, 118, 0.594);
}
.half1 p{
      font-family: sans-serif;
      color: rgb(85, 84, 84);
}
@media (max-width:768px){
  .section1{
    display: flex;
    flex-direction: column;
  }
}

/* Scetion-1 End*/
/* Scetion-2 start */
.section2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.section2 div img{
  height: 18.3rem;
  width: auto;
}

 .section2 h3{
  font-weight: bold;
  font-size: 1.2px;
  color: rgb(9, 9, 9);
  font-family: sans-serif;
 }
 .section2 h1{
  font-family: sans-serif;
  font-size: 2.7rem;
  font-weight: bold;
  color: rgb(17, 17, 18);
  text-shadow: 2px 2px 0px rgba(83, 83, 83, 0.441);

 }
.section2 p{
  color: rgb(90, 90, 90);
  font-size: 1rem;

}

@media (max-width:768px){
  .section2{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
   }
 
 /* Scetion-2 End */
  /* Scetion-3 End */
.section3{
  width:100%;
  margin: 0 auto;
  text-align: center;
}
.section3 .first-text{
  line-height: 2rem;
  color: peru;
}

.section3 .first-text p{
    width: 100%;
    color: rgba(0, 0, 0, 0.573);
    margin: 0 auto;
  }
.section3body{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section3body div{
  width: 15rem;
  padding: 2rem;
  margin: 3rem;
  border-radius: 13px;
  border: 2px solid rgba(128, 128, 128, 0.918);
}
.section3body div i{
  font-size: 2rem;
}
.section3body div h1{
  color: rgb(86, 85, 85);
  font-family: sans-serif;
  font-size: 2rem;
}
.section3body div p{
  color: rgba(78, 77, 77, 0.705);
  font-size: .8rem;
}
.section3body div:hover{
  background-color: rgb(236, 236, 236);
  color:rgb(5, 174, 246);
  border-radius: 13px;
}
@media(max-width:768px){
  .section3body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0rem;
  }
  }

 /* Scetion-3 End */
/* Scetion-4 start */

.section4{
  
  display: flex;
  width: 100%;
  background-color: #6575b4;
  background-image: linear-gradient(43deg, #6575b4 0%, #62d2ce 46%, #bc3bb6 100%);
  padding: 3rem;

}

.section4 div{
  width: 20%;
  margin: 0 auto;
  margin-top:50px;
  left:160px;
}
.section4 div p{
  text-align: center;
  color: white;
}
.section4 div h1{
  text-align: center;
  color: white;
}
@media(max-width:768px){
  .section4{
     text-align: center
     font-size:30%;
  }
  }

/* Scetion-4 End */
/* Scetion-6 End */

.section6{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.text4{
  display:flex ;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.text4 h1{
  font-size: 3rem;  
}

.card{
  display: flex;
  border: 1px solid rgb(15, 15, 15) ;
  width: 15rem;
  justify-content: center;
  align-items: center;
  margin: 5px;
  
}
.cardlist{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
}
.section6 .cardlist .card h1{
  font-size: 4rem;
  color: #62d2ce;
  border-radius: 10px;
}
.card h2,.card h4{
  border-radius: 10px;
}
.section6 .cardlist .card  input{
  outline: none;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6%;
  padding:6px 29px;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  
}

.card p{
   font-size: .71rem;
   border-radius: 10px;
}
  

.section6 .cardlist .card input:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
  border-radius: 20px;
}

.section6 .cardlist :hover{
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  color: #FFFFFF;
  
}
@media(max-width:768px){
  .section6 .cardlist{text-align: center;
                      display: flex; 
                      flex-direction: column;
                      font-size: 20%;
}
}

/* Scetion-6 End */
/* footer start  */

footer{
  display: flex;
  background-color: rgba(0, 0, 0, 0.833);
  color: #fdfdfd;
}

footer .foot1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 3%;
}
footer .foot2{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 50%;
}


@media(max-width:768px){
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .foot1,.foot2{
    margin: 3%;
  }
  footer .foot2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
/* footer ends */
